# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle/Build
.gradle
build
bin

# VSCode
.vscode

#Intellij
.idea/
*.iml
*.iws

# Eclipse
.settings
.classpath
.project

# VCS
.gitattributes

# OS X
.DS_Store

# docker override
# this file is ignored to allow users to customize as necessary
# if a configuration is compelling we will force add the update back to the repo
docker-compose.override*