version: "3.7"
services:
  nats-server:
    ports:
      - ${LFH_NATS_CLIENT_PORT}:${LFH_NATS_CLIENT_PORT}
      - ${LFH_NATS_CLUSTER_PORT}:${LFH_NATS_CLUSTER_PORT}
      - ${LFH_NATS_MANAGEMENT_PORT}:${LFH_NATS_MANAGEMENT_PORT}
  zookeeper:
    ports:
      - ${LFH_ZOOKEEPER_PORT}:${LFH_ZOOKEEPER_PORT}
  kafka:
    environment:
      KAFKA_LISTENERS: "INTERNAL://kafka:9092,EXTERNAL://kafka:9094"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:9092,EXTERNAL://localhost:9094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: ${LFH_KAFKA_INTER_BROKER_LISTENER_NAME}
    ports:
      - ${LFH_KAFKA_EXTERNAL_LISTENER_PORT}:${LFH_KAFKA_EXTERNAL_LISTENER_PORT}
  orthanc:
    ports:
      - ${LFH_ORTHANC_HTTP_PORT}:${LFH_ORTHANC_HTTP_PORT}
