# (C) Copyright IBM Corp. 2020
# SPDX-License-Identifier: Apache-2.0
#
name: Linux for Health Publish Image to Registry
# Publishes linuxforhealth/connect snapshot and release images.
# Snapshot images are pushed when commits are made against master.
# Release images are pushed with a GitHub release tag is created an published.
on:
  push:
    branches: [master]
  release:
    types: [published]
jobs:
  build_and_push_image:
    name: Builds and Pushes an Updated LFH Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout LFH Project
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Gradle packages
        uses: actions/cache@v2.1.4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle (skip tests)
        run: ./gradlew build -x test
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: linux/amd64,linux/arm64,linux/s390x
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Generate Image Tags
        id: generate_tags
        run: .github/workflows/generate-image-tag.sh > image-tags.txt && echo -n "::set-output name=lfh_tags::" | cat - image-tags.txt
        env:
          IMAGE_REPO_NAME: "linuxforhealth/connect"
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_REF: ${{ github.ref }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64,linux/s390x
          tags: ${{ steps.generate_tags.outputs.lfh_tags }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache