# (C) Copyright IBM Corp. 2020
# SPDX-License-Identifier: Apache-2.0

name: Linux for Health Continuous Integration
# Runs CI tests with a PR is submitted against the Linux For Health master branch.

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [1.8]
    name: Linux for Health CI - OS ${{ matrix.os }} Java Version ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2.3.1
        with:
          java-version: ${{ matrix.java }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
